body {
  margin: 0px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  color: #ffffff;
  background-color: rgb(57, 59, 56);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.main_header {
  background-color: #2c302d;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

h1,
h2,
h3 {
  color: #8df0c2;
  ;
}

h1 {
  margin: 0;
  font-size: xxx-large;
}

.input_pair,
.submit_button {
  display: block;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.submit_button {
  width: 60px;
}

.back_button_wrapper,
#helpButton {
  position: fixed;
  left: 1vw;
  top: 2.5vh;
}

.back_button,
#helpButton {
  width: 3.5vw;
  height: 4vh;
}

label {
  margin-right: 0.5vw;
}

.centered_container {
  text-align: center;
}

.login_section {
  margin-left: 8vw;
  margin-right: 8vw;
  margin-top: 8vh;
}

.centered_section {
  display: inline-block;
}

.center_login_buttons,
.replay,
.player_data {
  display: flex;
  align-items: center;
  justify-content: center;
}

.replay {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.replay_details,
.player_details {
  margin-right: 1vw;
}

.image_contain {
  object-fit: contain;
}

.replay:nth-child(odd),
.lbRow:nth-child(odd) {
  background-color: rgb(41, 43, 40);
}

.replay:nth-child(even),
.lbRow:nth-child(even) {
  background-color: rgb(57, 59, 56);
}

.game_container {
  position: relative;
  margin-top: 5vh;
  border: 5px solid black;
  width: 70vh;
  height: 70vh;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.player_data {
  position: absolute;
  height: 85px;
}

.match_player_wrapper {
  margin-left: 10px;
}

.match_player_wrapper * {

  margin: 0;
}

.error-message {
  color: red;
  font-size: 20px;
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
}

.match_pfp {
  margin: 0;
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 5px solid black;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#top_player {
  right: 20px;
  top: 10px;
}

#bottom_player {
  left: 20px;
  bottom: 10px;
}

.arrow_container {
  position: absolute;
}

#replay_forward {
  right: 40vw;
}

#replay_back {
  left: 40vw;
}

/* styling for Home */

#mainHome {
  width: 80%;
  display: block;
  text-align: center;
}

#lbButton,
.playButton {
  position: absolute;
  left: 25vw;
  font-size: 35px;
  width: 30vw;
  height: 10vh;
  margin-bottom: 20px;
}

#playAIButton {
  top: 70vh;
}

#playPlayerButton {
  top: 55vh;
}

#lbButton {
  top: 85vh;
}

#sidePanel {
  float: right;
  display: block;
  width: 25%;
  height: 100%;
  background-color: rgb(34, 40, 38);
  position: fixed;
  right: 0;
  top: 12.8vh;
}

#logoutButton {
  position: fixed;
  bottom: 10vh;
  right: 8.5vw;
  font-size: 16px;
  width: 7.5vw;
  height: 5vh;
}

#homePFP {
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-top: 2vh;
}

#homeLogo {
  display: inline-block;
  border: none;
  border-radius: 0;
  margin: 5vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  translate: 0px -70px;
}

#profileButton {
  top: 40vh;
  right: 5vw;
  font-size: 30px;
  width: 15vw;
  height: 10vh;
}

.green_button {
  border-radius: 30px;
  color: #8df0c2;
  background-color: rgb(0, 83, 83);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

.fixed {
  position: fixed;
}

#helpButton {
  font-size: 20px;
}

/* styling for Help */
.text {
  margin-right: 10vw;
  margin-left: 10vw;
}

.returnButton {
  margin-bottom: 5vh;
}

/* styling for Leaderboard */

.lbRow {
  height: 7.5%;
}

#rankTable {
  position: absolute;
  left: 12.5%;
  top: 20%;
  text-align: center;
  width: 75%;
  font-size: 30px;
}